Рябко Олексій

Лабораторна робота №2

In [1]:
import pandas as pd

csv_path = 'Provisional_COVID-19_Death_Counts_by_Age_in_Years__2020-2023.csv'
df = pd.read_csv(csv_path)

In [2]:
df.head(10)

,Data as of,Start Date,End Date,Sex,Age Years,Total deaths,COVID-19 Deaths
0,06/28/2023,01/01/2020,06/24/2023,Female,0-05 Months,28159,164
1,06/28/2023,01/01/2020,06/24/2023,Male,0-05 Months,34555,198
2,06/28/2023,01/01/2020,06/24/2023,Female,06-11 Months,2477,65
3,06/28/2023,01/01/2020,06/24/2023,Male,06-11 Months,3166,75
4,06/28/2023,01/01/2020,06/24/2023,Female,01 Year,2295,55
5,06/28/2023,01/01/2020,06/24/2023,Male,01 Year,2850,73
6,06/28/2023,01/01/2020,06/24/2023,Female,02 Years,1434,26
7,06/28/2023,01/01/2020,06/24/2023,Male,02 Years,1908,29
8,06/28/2023,01/01/2020,06/24/2023,Female,03 Years,1122,18
9,06/28/2023,01/01/2020,06/24/2023,Male,03 Years,1509,30

In [3]:
df.loc[:, 'Age Years']


#import numpy as np
#df1 = df.replace('Years', np.nan)

0            0-05 Months
1            0-05 Months
2           06-11 Months
3           06-11 Months
4                01 Year
             ...
169             83 Years
170             84 Years
171             84 Years
172    85 Years and over
173    85 Years and over
Name: Age Years, Length: 174, dtype: object

№2

In [4]:
import re

# Функція для перетворення віку у числовий формат з урахуванням місяців і років
def convert_age(age):
    age = age.strip()
    if 'Months' in age:
        # Перетворюємо вікові діапазони в місяцях на середнє значення
        match = re.search(r'(\d+)-(\d+)', age)
        if match:
            start, end = map(int, match.groups())
            return (start + end) / 2 / 12  # Конвертуємо в роки
    elif 'Year' in age:
        # Перетворюємо "01 Year" і "02 Years" у числове значення
        match = re.search(r'(\d+)', age)
        if match:
            return float(match.group(1))
    return np.nan

# Застосовуємо функцію до стовпця "Age Years"
df['Age Years'] = df['Age Years'].apply(convert_age)

# Перевіримо результат
df[['Age Years']].head(10)

   Age Years
0   0.208333
1   0.208333
2   0.708333
3   0.708333
4   1.000000
5   1.000000
6   2.000000
7   2.000000
8   3.000000
9   3.000000

№3

In [5]:
df.describe()

        Age Years  Total deaths  COVID-19 Deaths
count  174.000000  1.740000e+02       174.000000
mean    42.022031  6.648664e+04      6529.034483
std     25.148462  1.830020e+05     17031.504649
min      0.208333  6.630000e+02        14.000000
25%     20.250000  5.775000e+03       182.750000
50%     42.000000  2.351800e+04      1702.000000
75%     63.750000  9.056975e+04      9580.750000
max     85.000000  2.001397e+06    171942.000000

In [6]:
df.describe(include="all")

,Data as of,Start Date,End Date,Sex,Age Years,Total deaths,COVID-19 Deaths
count,174,174,174,174,174.000000,1.740000e+02,174.000000
unique,1,1,1,2,NaN,NaN,NaN
top,06/28/2023,01/01/2020,06/24/2023,Female,NaN,NaN,NaN
freq,174,174,174,87,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,42.022031,6.648664e+04,6529.034483
std,NaN,NaN,NaN,NaN,25.148462,1.830020e+05,17031.504649
min,NaN,NaN,NaN,NaN,0.208333,6.630000e+02,14.000000
25%,NaN,NaN,NaN,NaN,20.250000,5.775000e+03,182.750000
50%,NaN,NaN,NaN,NaN,42.000000,2.351800e+04,1702.000000
75%,NaN,NaN,NaN,NaN,63.750000,9.056975e+04,9580.750000
max,NaN,NaN,NaN,NaN,85.000000,2.001397e+06,171942.000000

№4

In [9]:
import matplotlib.pyplot as plt

# Функція для категоризації віку
def categorize_age(age):
    if age < 13:
        return 'Child'
    elif age < 18:
        return 'Teenager'
    elif age < 65:
        return 'Adult'
    else:
        return 'Elderly'

# Створюємо новий стовпець з віковими групами
df['Age Group'] = df['Age Years'].apply(categorize_age)

# Підрахуємо кількість смертей у кожній віковій групі
age_group_counts = df.groupby('Age Group')['Total deaths'].sum()

# Побудуємо гістограму
age_group_counts.plot(kind='bar', color='skyblue')
plt.title('Number of Deaths by Age Group')
plt.ylabel('Number of Deaths')
plt.xlabel('Age Group')
plt.xticks(rotation=45)
plt.show()

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.1.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "/usr/lib/python3.10/runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/usr/lib/python3.10/runpy.py", line 86, in _run_code
    exec(code, run_globals)
  File "/home/master/.local/lib/python3.10/site-packages/ipykernel_launcher.py", line 18, in <module>
    app.launch_new_instance()
  File "/home/master/.local/lib/python3.10/site-packages/traitlets/config/application.py", line 1075, in launch_instance
    app.start()
  File "/home/master/.local/lib/python3.10/site-packages/ipykernel/kernelapp.py", line 739, in start
    self.io_loop.start()
  File "/home/master/.local/lib/python3.10/site-packages/tornado/platform/asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "/usr/lib/python3.10/asyncio/base_events.py", line 603, in run_forever
    self._run_once()
  File "/usr/lib/python3.10/asyncio/base_events.py", line 1909, in _run_once
    handle._run()
  File "/usr/lib/python3.10/asyncio/events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "/home/master/.local/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 545, in dispatch_queue
    await self.process_one()
  File "/home/master/.local/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 534, in process_one
    await dispatch(*args)
  File "/home/master/.local/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 437, in dispatch_shell
    await result
  File "/home/master/.local/lib/python3.10/site-packages/ipykernel/ipkernel.py", line 362, in execute_request
    await super().execute_request(stream, ident, parent)
  File "/home/master/.local/lib/python3.10/site-packages/ipykernel/kernelbase.py", line 778, in execute_request
    reply_content = await reply_content
  File "/home/master/.local/lib/python3.10/site-packages/ipykernel/ipkernel.py", line 449, in do_execute
    res = shell.run_cell(
  File "/home/master/.local/lib/python3.10/site-packages/ipykernel/zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/home/master/.local/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "/home/master/.local/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "/home/master/.local/lib/python3.10/site-packages/IPython/core/async_helpers.py", line 128, in _pseudo_sync_runner
    coro.send(None)
  File "/home/master/.local/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/home/master/.local/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "/home/master/.local/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipykernel_35185/2713729628.py", line 1, in <module>
    import matplotlib.pyplot as plt
  File "/usr/lib/python3/dist-packages/matplotlib/__init__.py", line 109, in <module>
    from . import _api, _version, cbook, docstring, rcsetup
  File "/usr/lib/python3/dist-packages/matplotlib/rcsetup.py", line 27, in <module>
    from matplotlib.colors import Colormap, is_color_like
  File "/usr/lib/python3/dist-packages/matplotlib/colors.py", line 56, in <module>
    from matplotlib import _api, cbook, scale
  File "/usr/lib/python3/dist-packages/matplotlib/scale.py", line 23, in <module>
    from matplotlib.ticker import (
  File "/usr/lib/python3/dist-packages/matplotlib/ticker.py", line 136, in <module>
    from matplotlib import transforms as mtransforms
  File "/usr/lib/python3/dist-packages/matplotlib/transforms.py", line 46, in <module>
    from matplotlib._path import (

AttributeError: _ARRAY_API not found

ImportError: numpy.core.multiarray failed to import

№5

In [8]:
# Створюємо індикаторну змінну для статі
df['Sex Indicator'] = df['Sex'].apply(lambda x: 1 if x == 'Male' else 0)

# Перевіряємо результат
df[['Sex', 'Sex Indicator']].head(10)

      Sex  Sex Indicator
0  Female              0
1    Male              1
2  Female              0
3    Male              1
4  Female              0
5    Male              1
6  Female              0
7    Male              1
8  Female              0
9    Male              1